client/node_modules
server/models/nav/__*
server/kafka/__pycache__
server/kafka/admin/__pycache__
server/kafka/consumer/__pycache__
server/kafka/coordinator/__pycache__
server/kafka/coordinator/assignors/__pycache__
server/kafka/coordinator/assignors/sticky/__pycache__
server/kafka/metrics/__pycache__
server/kafka/metrics/stats/__pycache__
server/kafka/oauth/__pycache__
server/kafka/partitioner/__pycache__
server/kafka/producer/__pycache__
server/kafka/protocol/__pycache__
server/kafka/record/__pycache__
server/kafka/serializer/__pycache__
server/kafka/vendor/__pycache__
server/modules/__pycache__
server/models/dna/*_mergedDS_*
server/models/jna/*_mergedDS_*
server/models/nav/*_mergedDS_*
server/models/twt/*_mergedDS_*
server/models/ins/*_mergedDS_*
server/modules/collect/__pycache__
server/modules/collect/scrap/__pycache__
server/modules/extractor/__pycache__
server/modules/modeling/__pycache__
server/modules/zhbase/__pycache__
server/modules/modeling/pickles/*_merged_*
server/modules/modeling/statics_result/pickles/*_merged_*
server/modules/modeling/statics_result/*
server/proto/__pycache__
server/__pycache__
server/.idea
data
%USERPROFILE%/logs
shell/windows/kafka/%USERPROFILE%
client/.idea
kafka/logs
_jcoty.db
client/src/App - 복사본.js
client/src/components/ButtonOpenAddWorkWindow - 복사본.js
client/proxy/config.js
client/src/config.js
server/jcoty.db
